*{
    box-sizing: border-box;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

ol{
    list-style-type: decimal;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

input#username {
    margin-left: 28px;
}
